In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../datasets/bbc-raw.csv')
df

      category                                               text
0     business  Ad sales boost Time Warner profit\n\nQuarterly...
1     business  Dollar gains on Greenspan speech\n\nThe dollar...
2     business  Yukos unit buyer faces loan claim\n\nThe owner...
3     business  High fuel prices hit BA's profits\n\nBritish A...
4     business  Pernod takeover talk lifts Domecq\n\nShares in...
...        ...                                                ...
2220      tech  BT program to beat dialler scams\n\nBT is intr...
2221      tech  Spam e-mails tempt net shoppers\n\nComputer us...
2222      tech  Be careful how you code\n\nA new European dire...
2223      tech  US cyber security chief resigns\n\nThe man mak...
2224      tech  Losing yourself in online gaming\n\nOnline rol...

[2225 rows x 2 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  2225 non-null   object
 1   text      2225 non-null   object
dtypes: object(2)
memory usage: 34.9+ KB

In [4]:
labels = df.category.unique()
labels

array(['business', 'entertainment', 'politics', 'sport', 'tech'],
      dtype=object)

In [5]:
import re
from nltk.stem import SnowballStemmer
from nltk.corpus import stopwords

stop_words = stopwords.words('english')

stemmer = SnowballStemmer('english')

def clean_text(text):
    text = re.sub(r'[^a-zA-Z]', ' ', text.lower())
    text = re.sub(r' +', ' ', text)
    text = ' '.join(stemmer.stem(word) for word in text.split() if word not in stop_words)
    return text

In [6]:
print('Before:', df.text[0], f"length: {len(df.text[0].split())}", sep='\n')

Before:
Ad sales boost Time Warner profit

Quarterly profits at US media giant TimeWarner jumped 76% to $1.13bn (ÂŁ600m) for the three months to December, from $639m year-earlier.

The firm, which is now one of the biggest investors in Google, benefited from sales of high-speed internet connections and higher advert sales. TimeWarner said fourth quarter sales rose 2% to $11.1bn from $10.9bn. Its profits were buoyed by one-off gains which offset a profit dip at Warner Bros, and less users for AOL.

Time Warner said on Friday that it now owns 8% of search-engine Google. But its own internet business, AOL, had has mixed fortunes. It lost 464,000 subscribers in the fourth quarter profits were lower than in the preceding three quarters. However, the company said AOL's underlying profit before exceptional items rose 8% on the back of stronger internet advertising revenues. It hopes to increase subscribers by offering the online service free to TimeWarner internet customers and will try to sign up AOL's existing customers for high-speed broadband. TimeWarner also has to restate 2000 and 2003 results following a probe by the US Securities Exchange Commission (SEC), which is close to concluding.

Time Warner's fourth quarter profits were slightly better than analysts' expectations. But its film division saw profits slump 27% to $284m, helped by box-office flops Alexander and Catwoman, a sharp contrast to year-earlier, when the third and final film in the Lord of the Rings trilogy boosted results. For the full-year, TimeWarner posted a profit of $3.36bn, up 27% from its 2003 performance, while revenues grew 6.4% to $42.09bn. "Our financial performance was strong, meeting or exceeding all of our full-year objectives and greatly enhancing our flexibility," chairman and chief executive Richard Parsons said. For 2005, TimeWarner is projecting operating earnings growth of around 5%, and also expects higher revenue and wider profit margins.

TimeWarner is to restate its accounts as part of efforts to resolve an inquiry into AOL by US market regulators. It has already offered to pay $300m to settle charges, in a deal that is under review by the SEC. The company said it was unable to estimate the amount it needed to set aside for legal reserves, which it previously set at $500m. It intends to adjust the way it accounts for a deal with German music publisher Bertelsmann's purchase of a stake in AOL Europe, which it had reported as advertising revenue. It will now book the sale of its stake in AOL Europe as a loss on the value of that stake.

length: 421

In [7]:
print('After:', clean_text(df.text[0]), f"length: {len(clean_text(df.text[0]).split())}", sep='\n')

After:
ad sale boost time warner profit quarter profit us media giant timewarn jump bn three month decemb year earlier firm one biggest investor googl benefit sale high speed internet connect higher advert sale timewarn said fourth quarter sale rose bn bn profit buoy one gain offset profit dip warner bros less user aol time warner said friday own search engin googl internet busi aol mix fortun lost subscrib fourth quarter profit lower preced three quarter howev compani said aol under profit except item rose back stronger internet advertis revenu hope increas subscrib offer onlin servic free timewarn internet custom tri sign aol exist custom high speed broadband timewarn also restat result follow probe us secur exchang commiss sec close conclud time warner fourth quarter profit slight better analyst expect film divis saw profit slump help box offic flop alexand catwoman sharp contrast year earlier third final film lord ring trilog boost result full year timewarn post profit bn perform revenu grew bn financi perform strong meet exceed full year object great enhanc flexibl chairman chief execut richard parson said timewarn project oper earn growth around also expect higher revenu wider profit margin timewarn restat account part effort resolv inquiri aol us market regul alreadi offer pay settl charg deal review sec compani said unabl estim amount need set asid legal reserv previous set intend adjust way account deal german music publish bertelsmann purchas stake aol europ report advertis revenu book sale stake aol europ loss valu stake
length: 247

In [8]:
df.text = df.text.apply(clean_text)
df

      category                                               text
0     business  ad sale boost time warner profit quarter profi...
1     business  dollar gain greenspan speech dollar hit highes...
2     business  yuko unit buyer face loan claim owner embattl ...
3     business  high fuel price hit ba profit british airway b...
4     business  pernod takeov talk lift domecq share uk drink ...
...        ...                                                ...
2220      tech  bt program beat dialler scam bt introduc two i...
2221      tech  spam e mail tempt net shopper comput user acro...
2222      tech  care code new european direct could put softwa...
2223      tech  us cyber secur chief resign man make sure us c...
2224      tech  lose onlin game onlin role play game time cons...

[2225 rows x 2 columns]

In [9]:
df.to_csv('../datasets/bbc-cleaned.csv', index=False)