In [12]:
import pandas as pd
import os

In [13]:
data_path = 'D:\\data-science\\bbc'
labels = os.listdir(data_path)
list_files = lambda label: os.listdir(os.path.join(data_path, label))
i_file_in_dir = lambda label, i: os.listdir(os.path.join(data_path, label))[i]

labels

['business', 'entertainment', 'politics', 'sport', 'tech']

In [14]:
temp_df_dict = {'category': [],
                'text': []}

In [15]:
for label in labels:
    for nth_file in list_files(label):
        file_path = os.path.join(data_path, label, nth_file)
        
        with open(file_path, 'r') as file:
            temp_df_dict['category'].append(label)
            temp_df_dict['text'].append(file.read())

In [16]:
df = pd.DataFrame.from_dict(temp_df_dict)
df

      category                                               text
0     business  Ad sales boost Time Warner profit\n\nQuarterly...
1     business  Dollar gains on Greenspan speech\n\nThe dollar...
2     business  Yukos unit buyer faces loan claim\n\nThe owner...
3     business  High fuel prices hit BA's profits\n\nBritish A...
4     business  Pernod takeover talk lifts Domecq\n\nShares in...
...        ...                                                ...
2220      tech  BT program to beat dialler scams\n\nBT is intr...
2221      tech  Spam e-mails tempt net shoppers\n\nComputer us...
2222      tech  Be careful how you code\n\nA new European dire...
2223      tech  US cyber security chief resigns\n\nThe man mak...
2224      tech  Losing yourself in online gaming\n\nOnline rol...

[2225 rows x 2 columns]

In [17]:
df.to_csv(path_or_buf=os.path.join('../datasets/', 'bbc-raw.csv'), index=False)